Python
pycache/
*.py[cod]
*$py.class
*.pyc
.Python
env/
venv/
ENV/
*.env
*.log

Django
*.sqlite3
media/
static/

Node
node_modules/
.next/
out/

Docker
docker-compose.override.yml

Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

OS
.DS_Store
Thumbs.db
